Django==1.5.8
MySQL-python
gunicorn
fabric
django-simple-captcha
SOAPpy
celery==3.0.23
django-celery==3.0.23
django-haystack
whoosh
jieba
django-extensions
django-smtp-ssl
redis
django-teamcity
django-discover-runner
teamcity-messages
django-redis-sessions
peewee
requests==2.2.1
httpretty
mock
bleach
pycrypto
django-getenv
socialoauth
