{% extends "base.html" %}
{% load staticfiles %}
{% load extfilters %}
{% block title %} - 修改用户{% endblock %}
{% block content %}
    <input type="hidden" id="amd_module" value="{% static "js/views/user_edit.js" %}"/>
    <div class="container" style="margin-top:60px;">
        <div class="page_header">
            <ul class="bc">
                <li><a href="/">主页</a> <span class="divider">/</span></li>
                <li><a href="/user_account/list/">用户一览</a> <span class="divider">/</span></li>
                <li class="active">{{ form.instance.get_full_name }}</li>
            </ul>
        </div>
        <form class="form-horizontal" action="/user_account/edit/action/" method="post" id="frmEditUser">
            {% csrf_token %}
            <input type="hidden" name="redirect_url" id="redirect_url" value="{{ redirect_url|default_if_none:"" }}"/>
            <input type="hidden" name="mode" value="1"/>
            <input type="hidden" name="id" value="{{ id }}"/>
            <input type="hidden" name="username" value="{{ form.username.value }}"/>
{#            <input type="hidden" name="update_timestamp" value="{{ update_timestamp }}"/>#}
            <div class="well well-large fly_left_well">
                <div class="control-group">
                    <label class="control-label" for="txtUserName">用户名</label>
                    <div class="controls">
                        <input type="text" id="txtUserName" class="highlight" disabled="disabled" placeholder="用户名" maxlength="30" value="{{ form.username.value }}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtPassword">密码</label>
                    <div class="controls">
                        <input type="password" id="txtPassword" name="password" maxlength="20" class="first_focus {% if form.password.errors %} error_flg{% endif %}" placeholder="密码留空即不修改">
                        {% if form.password.errors %}
                            {% with form.password.errors|first as error %}
                                <br/><span class="error_message">{{ error }}</span>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtFullName">姓名</label>
                    <div class="controls">
                        <input type="text" class="highlight input{% if form.full_name.errors %} error_flg{% endif %}" name="full_name" id="txtFullName" maxlength="20" value="{{ form.full_name.value }}"/>
                        {% if form.full_name.errors %}
                            {% with form.full_name.errors|first as error %}
                                <br/><span class="error_message">{{ error }}</span>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="role">身份</label>
                    <div class="controls">
                        <input type="hidden" name="role" id="id_role" value="{{ role }}"/>
                        <div class="btn-group">
                            <button class="btn" type="button" {% if not user.is_superuser %}disabled="disabled"{% endif %} data-toggle="dropdown" id="btnRoleDisplay">{{ role_name }}</button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown" {% if not user.is_superuser %}disabled="disabled"{% endif %} >
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdownItem" for="id_role" value="10">员工</a></li>
                                <li><a href="#" class="dropdownItem" for="id_role" value="20">人事</a></li>
                                <li><a href="#" class="dropdownItem" for="id_role" value="50">经理</a></li>
                            </ul>
                        </div>
                        {% if form.role.errors %}
                            {% with form.role.errors|first as error %}
                                <br/><span class="error_message">{{ error }}</span>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" class="btn btn-primary default_button" id="btnSave">保存</button>
                        <button type="button" id="btnReturn" class="btn">返回</button>
                    </div>
                </div>
                {% if form.non_field_errors %}
                    {% with form.non_field_errors|first as error %}
                        <div class="control-group">
                            <div class="controls"><span class="error_message">{{ error }}</span></div>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}