<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>家庭财务管理系统 - 登录</title>
    <title></title>
</head>
<body>
    <input type="hidden" id="amd_module" value="{{ static_path }}js/view/login.js"/>
    <div class="container" style="margin-top:30px;">
        <form class="form-signin" action="/user_account/login/action/" id="frmLogin" method="post">
            {% csrf_token %}
            <input type="hidden" name="redirect_url" id="redirect_url" value="{{ redirect_url|default_if_none:"" }}"/>
            <h2 class="form-signin-heading">请登录</h2>
            <input type="text" name="username" class="input-block-level first_focus{% if form.username.errors %} error_flg{% endif %}" placeholder="帐号" maxlength="30" value="{{ form.username.value }}">
            {% with form.username.errors|first as error %}
                <span class="error_message">{{ error }}</span>
            {% endwith %}
            <input type="password" name="password" class="input-block-level{% if form.password.errors %} error_flg{% endif %}" placeholder="密码" maxlength="20">
            {% with form.password.errors|first as error %}
                <span class="error_message">{{ error }}</span>
            {% endwith %}
            <label class="checkbox">
                <input type="checkbox" value="remember-me" name="needRemember" {% if form.needRemember.value  %}checked="checked"{% endif %}>记住我
            </label>
            <div style="width: 100%; text-align: center">
                <button class="btn btn-large btn-primary default_button" type="button" id="btnLogin">登录</button>
                <div class="version_no" style="margin-top: 10px;">
                    V {{ app_version }}
                </div>
            </div>
        </form>
    </div>

</body>
</html>