{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - 查看用户{% endblock %}
{% block content %}
    <input type="hidden" id="amd_module" value="{% static "js/views/user_view.js" %}"/>
    <div class="container" style="margin-top:60px;">
        <div class="page_header">
            <ul class="bc">
                <li><a href="/">主页</a> <span class="divider">/</span></li>
                <li><a href="/user_account/list/">用户一览</a> <span class="divider">/</span></li>
                <li class="active">{{ form.instance.get_full_name }}</li>
            </ul>
        </div>
        <form class="form-horizontal" action="/user_account/view/" method="post" id="frmViewUser">
            {% csrf_token %}
            <input type="hidden" name="redirect_url" id="redirect_url" value="{{ redirect_url|default_if_none:"" }}"/>
            <input type="hidden" name="id" id="id_pk" value="{{ form.instance.id }}"/>
            <div class="well well-large fly_left_well">
                <div class="control-group">
                    <label class="control-label" for="txtUserName">用户名</label>
                    <div class="controls">
                        <input type="text" id="txtUserName" class="highlight" disabled="disabled" placeholder="用户名" maxlength="30" value="{{ form.username.value }}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtFullName">姓名</label>
                    <div class="controls">
                        <input type="text" class="input{% if form.first_name.errors %} error_flg{% endif %}" disabled="disabled" name="full_name" id="txtFullName" maxlength="30" value="{{ form.full_name.value }}"/>
                        {% with form.full_name.errors|first as error %}
                            <span class="error_message">{{ error }}</span>
                        {% endwith %}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">身份</label>
                    <div class="controls">
                        <div class="btn-group">
                            <button class="btn" type="button" id="btnRoleDisplay" disabled="disabled">{{ role_name }}</button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown" disabled="disabled">
                                <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" id="btnEdit" class="btn">修改</button>
                        <button type="button" id="btnReturn" class="btn btn-primary default_button">返回</button>
                    </div>
                </div>
                {% if form.non_field_errors %}
                    {% with form.non_field_errors|first as error %}
                        <div class="control-group">
                            <div class="controls"><span class="error_message">{{ error }}</span></div>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}