{% extends "base.html" %}
{% load extfilters %}
{% load staticfiles %}
{% block title %} - 个人理财{% endblock %}
{% block include_css %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <input type="hidden" id="amd_module" value="{% static "js/views/stock.js" %}"/>
    <div class="container" style="margin-top:60px;">
        <div class="page_header">
            <ul class="bc">
                <li><a href="/">主页</a> <span class="divider">/</span></li>
                <li class="active">个人理财</li>
            </ul>
        </div>
        <div class="row">
            <div class="span12">
                    <div class="well well-large">
                        <div class="tabbable tabs-left" id="id_tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_info" data-toggle="tab">个人理财概述<i class="icon-chevron-right"></i></a></li>
                                <li><a href="#tab_job" data-toggle="tab">股票信息添加<i class="icon-chevron-right"></i></a></li>
                            </ul>
                            <div class="tab-content" id="id_contents">
                                <div class="tab-pane fade active in" id="tab_info">
                                    <input type="hidden" name="id" id="pk" value="{{ id }}"/>
                                        <div class="alert alert-success" style="margin-left: 120px">
                                            <h5>个人理财小贴士:</h5>
                                            <br />
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人理财是指根据财务状况，建立合理的个人财务规划，并适当参与投资活动。个人理财的投资包括：股票、基金、国债、
                                            储蓄等八个内容。现代意义的个人理财，
                                            不同于单纯的储蓄或投资，它不仅包括财富的积累，而且还囊括了财富的保障和安排。财富保障的核心是对风险的管理和控制，
                                            也就是当自己的生命和健康出现了意外，或个人所处的经济环境发生了重大不利变化，如恶性通货膨胀、汇率大幅降低等问题时，
                                            自己和家人的生活水平不致于受到严重的影响。
                                            <br />
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这里,您不但可以实现家庭理财的梦想,也可以完成个人理财的需求,赶快体验一下吧!

                                        </div>
                                </div>
                                <div class="tab-pane fade " id="tab_job">
                                    <div id="jobList">
                                    {% if stock_count == 0 %}
                                        <div class="row">
                                            <div class="span8 alert alert-block" style="margin-left: 120px">
                                                <h4>注意!</h4>
                                                您目前尚未添加任何股票记录信息,请点击"添加"按钮完成股票信息的添加.
                                            </div>
                                            <div class="span8" style="margin-left: 120px">
                                                <a class="btn btn-primary btn-small job_edit" href="#" data-form="/stock/personal/{{ id }}/stock/add/">添加</a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="span4" style="margin-left: 120px">
                                                <div class="btn-toolbar">
                                                    <div class="btn-group">
                                                        <a class="btn" id="btnNew" data-toggle="dropdown" href="#"><i class="icon-plus"></i></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="job_edit" href="#" data-form="/stock/personal/{{ id }}/stock/add/">添加</a></li>
                                                        </ul>
                                                        <a class="btn disabled" id="btnDelete"><i class="icon-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span4" style="text-align: right;padding-top: 20px;">
                                                <span class="label">共{{ stock_count }}条信息</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="span8" style="margin-left: 120px">
                                                <div class="search_result_list">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th class="check_column" style="vertical-align:middle"><input type="checkbox" id="checkSelectAll"/></th>
                                                            <th style="vertical-align:middle">操作人员</th>
                                                            <th style="vertical-align:middle">股票名称</th>
                                                            <th style="vertical-align:middle">股票代号</th>
                                                            <th style="vertical-align:middle">买入手数</th>
                                                            <th style="vertical-align:middle">买入价格</th>
                                                            <th style="vertical-align:middle">预卖价格</th>
                                                            <th style="vertical-align:middle">止损价格</th>
                                                            <th style="vertical-align:middle">预计收益</th>
                                                            <th style="vertical-align:middle">买入日期</th>
                                                            <th style="vertical-align:middle">卖出日期</th>
                                                            <th style="vertical-align:middle">备注信息</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for s in stock_list %}
                                                            <tr>
                                                                <td class="cell_center"><input type="checkbox" class="list_selector" pk="{{ s.id }}"/></td>
                                                                <td class="cell_center">{{ s.handler }}</td>
                                                                <td class="cell_center">{{ s.stock_name }}</td>
                                                                <td class="cell_center">{{ s.stock_label }}</td>
                                                                <td class="cell_center">{{ s.buy_amount }}</td>
                                                                <td class="cell_center">{{ s.buy_price }}</td>
                                                                <td class="cell_center">{{ s.sold_price }}</td>
                                                                <td class="cell_center">{{ s.stop_lose_price }}</td>
                                                                <td class="cell_center">{{ s.earn }}</td>
                                                                <td class="cell_center">{{ s.buy_date }}</td>
                                                                <td class="cell_center">{{ s.sold_date }}</td>
                                                                <td class="cell_center">{{ s.remarks }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal hide fade" id="jobFormModal"></div>
    </div>
    <form action="/stock/personal/{{ id }}/stock/delete/action/" method="post" id="frm_jobList">
        {% csrf_token %}
        <input type="hidden" name="job_pks" id="id_job_pks" value=""/>
    </form>
{% endblock %}